<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <link rel="icon" type="image/png" href="/images/iconGeneral.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>
        <%= title %>
    </title>
</head>

<header class="sticky-top">
    <%- include('navbar') -%>
</header>

<body>

    <!-- CONTENT -->
    <div class="container productArea">
        <div class="row d-flex justify-content-center">
            <h2 class="titleSection">Carrito de compras </h2>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <p class="name1"> Lista de productos </p>
                <hr>
                <div id="principal" class="row">
                    <!-- Product list -->
                    <div class="col-md-9 col-sm-12">
                        <!-- for de productos en el carrito -->
                        <% priceTotal = 0%>
                            <div id="<%=i%>" class="row rowOrder" style="overflow-x:auto;">
                                <table class="table table-striped" id="mytable">
                                    <thead>
                                        <tr>
                                            <th>
                                                <p class="categoryName">Producto</p>
                                            </th>
                                            <th>
                                                <p class="categoryName">Imagen</p>
                                            </th>
                                            <th>
                                                <p class="categoryName">Precio</p>
                                            </th>
                                            <th>
                                                <p class="categoryName">Total</p>
                                            </th>
                                            <th>
                                                <p class="categoryName">Cantidad</p>
                                            </th>
                                            <th>
                                                <p class="categoryName">Actualizar</p>
                                            </th>
                                            <th>
                                                <p class="categoryName">Eliminar</p>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        <% for (var i = 0; i < (cart.length); i++) { %>
                                            <% priceTotal = priceTotal + (cart[i].price * cart[i].quantity)%>
                                                <tr>
                                                    <td>
                                                        <p class="categoryName">
                                                            <%=cart[i].name%>
                                                        </p>
                                                    </td>
                                                    <td>
                                                        <img src="/images/<%=cart[i].product_Image%>" alt="" width="100" height="auto">
                                                    </td>
                                                    <td>
                                                        <span class="categoryDescription">$ <%=cart[i].price%></span>
                                                    </td>
                                                    <td>
                                                        <%name1 = 'total' + i%>
                                                            <%total = cart[i].price * cart[i].quantity%>
                                                                <span class="categoryDescription">$</span>
                                                                <span id="<%=name1%>" class="categoryDescription"><%=total%></span>
                                                    </td>
                                                    <td>
                                                        <%name2 = 'units' + i%>
                                                            <span id="<%=name2%>"><%=cart[i].quantity%> unidades</span>
                                                    </td>
                                                    <td>
                                                        <button id="update" type="button" class="btnClose btn update" data-id="<%=cart[i].id%>" data-product_quantity="<%=cart[i].quantity%>" href="/cart/update" onclick="total('<%=cart[i].price%>', '<%=name1%>', '<%=name2%>', '<%=cart.length%>')" data-toggle="modal"
                                                            data-target="#modalUpdate"><i class="fas fa-check"></i></button>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:void(0);" class="btnClose btn delete" data-id="<%=cart[i].id%>" href="/cart/delete"><i class="fas fa-trash-alt"></i></a>
                                                    </td>
                                                </tr>
                                                <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <!-- fin de for -->
                    </div>
                </div>
            </div>
            <div id="resume" class="col-md-3 col-sm-12">
                <p class="name1"> Resumen </p>
                <hr>
                <!-- Resume -->
                <div class="col-md-3 col-sm-12">
                    <div class="row">
                        <div class="col">
                            <p class="categoryName"> Subtotal:</p>
                        </div>
                        <div class="col">
                            <span>$</span>
                            <span id="subtotal" class="categoryName"><%=priceTotal%></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="categoryName"> Envío:</p>
                        </div>
                        <div class="col">
                            <span>$</span>
                            <span id="send" class="categoryName"> <%=priceTotal*0.10%> </span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p class="categoryName"> TOTAL: </p>
                        </div>
                        <div class="col">
                            <span>$</span>
                            <span id="totalSend" class="categoryName"> <%=priceTotal + (priceTotal*0.10)%> </span>
                        </div>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-left">
                        <div class="col">
                            <a href="javascript:void(0);" class="btnClose btn checkout" href="/cart/checkout"><i class="fas fa-arrow-right"></i> Siguiente</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- MODAL DELETE-->

    <form id="add-row-form" action="/cart/delete" method="post">
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Mensaje</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <strong>Esta seguro de eliminar este producto de la lista?</strong>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="idProduct" id="idProduct" class="form-control" required>
                        <button type="button" class="btnClose btn" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btnClose btn">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- MODAL UPDATE-->
    <form id="add-row-form" action="/cart/update" method="post">
        <div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Mensaje</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <strong>Esta seguro de actualizar la cantidad de este producto en la lista?</strong>
                        <div class="row text-center">
                            <div class="col-3"></div>
                            <div class="col-6">
                                <label for="quantityProduct">Unidades:</label>
                                <input type="number" name="quantityProduct" id="quantityProduct" class="form-control " required>
                            </div>
                            <div class="col-3"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="idProduct2" id="idProduct2" class="form-control" required>
                        <button type="button" class="btnClose btn" data-dismiss="modal" href="/">Cancelar</button>
                        <button type="submit" class="btnClose btn">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- MODAL CHECKOUT -->
    <form id="add-row-form" action="/cart/checkout" method="post">
        <div class="modal fade" id="modalCheckout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Detalles del pedido</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form action="/action_page.php" class="was-validated">
                            <div class="form-group">
                                <label for="uname">Nombre:</label>
                                <input type="text" class="form-control" id="uname" placeholder="Escriba su nombre..." name="uname" required>
                                <div class="valid-feedback">Válido</div>
                                <div class="invalid-feedback">Por favor complete este espacio.</div>
                            </div>
                            <div class="form-group">
                                <label for="address">Dirección:</label>
                                <input type="text" class="form-control" id="address" placeholder="Escriba su dirección..." name="pswd" required>
                                <div class="valid-feedback">Válido</div>
                                <div class="invalid-feedback">Por favor complete este espacio.</div>
                            </div>
                            <div class="form-group">
                                <label for="address">Teléfono:</label>
                                <input type="tel" class="form-control" id="address" placeholder="Escriba su teléfono..." name="pswd" required>
                                <div class="valid-feedback">Válido</div>
                                <div class="invalid-feedback">Por favor complete este espacio.</div>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-radio-label">
                                    <input class="form-radio-input" type="radio" name="remember" required> Recoger en la panadería. <br>
                                    <input class="form-radio-input" type="radio" name="remember" required> Enviar a la dirección anterior.
                                </label>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btnClose btn" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btnClose btn"><i class="fas fa-shopping-bag"></i> Listo</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </form>

    <!-- FOOTER -->
    <div>
        <%- include('footer') -%>
    </div>
    <script>
        $(document).ready(function() {
            $('#mytable').on('click', '.delete', function() {
                var product_id = $(this).data('id');
                $('#DeleteModal').modal('show');
                $('#idProduct').val(product_id);
            });
            $('#mytable').on('click', '.update', function() {
                var product_id = $(this).data('id');
                var product_quantity = $(this).data('product_quantity');
                $('#modalUpdate').modal('show');
                $('#idProduct2').val(product_id);
                $('#quantityProduct').val(product_quantity);
            });
            $('#resume').on('click', '.checkout', function() {
                $('#modalCheckout').modal('show');
            });
        });
    </script>

    <script>
        function total(price, name1, name2, length) {
            var quantity = document.getElementById(name2).value;
            var total1 = price * quantity;
            document.getElementById(name1).innerHTML = total1;
            var sub = 0;
            var count = 0;
            for (let a = 0; a < length; a++) {
                var name = 'total' + a;
                count = parseInt(document.getElementById(name).innerHTML);
                sub += count;
                document.getElementById('subtotal').innerHTML = sub;
                document.getElementById('send').innerHTML = (sub * 0.10);
                document.getElementById('totalSend').innerHTML = sub + (sub * 0.10);
            }
        }
    </script>

</body>

</html>