<div class="productsSection">
    <div class="container text-center my-3">
        <h2 class="titleSection">Productos relacionados</h2>
        <div class="row mx-auto my-auto">
            <div id="recipeProducts1" class="carousel slide w-100" data-ride="carousel">
                <div class="carousel-inner" role="listbox">

                    <% active = "";%>
                        <% for (var i = 0; i < (products.length); i++) { if(i == 0) { active = "active" }else { active = ""}%>
                            <div class="carousel-item <%= active %>">
                                <div class="categoryblock">
                                    <p class="categoryName">
                                        <% id = products[i].id_product;%>
                                            <a href="/product/<%=id%>">
                                                <%=id%>
                                            </a>
                                            <%= products[i].name_product %>
                                    </p>
                                    <img class="col categoryimg" src="images/<%=products[i].imagen%>">
                                    <p class="categoryDescription">
                                        <%= products[i].description_product %>
                                    </p>
                                </div>
                            </div>
                            <% } %>

                </div>
                <a class="carousel-control-prev" href="#recipeProducts1" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#recipeProducts1" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div>
        </div>
    </div>